region             = "" # Note: The region to deploy your infrastructure. This must match the region you deployed your AMI into.
availability_zones = [""] # Note: A list of specific availability zones eligible to deploy your infrastructure into.
ami                = "" # Note: Get the AMI on AWS after packaging.
key_name           = "" # Note: The name of the AWS EC2 Key Pair that you want to associate to the instances.

owner_name         = "wengchaoxi"
owner_email        = "352120190@qq.com"
